body{
	background-color: #AFEEEE;

}

.description{
	font-family: courier new;
	color:#191970;
	font-size: 20px;

}

#title{
	font-size: 67px;
	font-family: heather;
	color: #942828;
}

}

#link{
	font-size: 60px;
}

 #btn{
 	font-size: 44px;
 	font-family: serif;
 	width: 300px;
 	color:#942828;


 }
 